@media (max-width:1300px){
    header .spot{
        display:none;
    }
    header .lnb > ul{   
        position: absolute;
        right:84px;
    }
    header .lnb > ul > li{
        position: relative;
    }
    header .lnb > ul > li > ul{
        position: absolute;
        width:300px;
        transform:translateX(-35%);
        padding:30px 20px;
        border:1px solid #000;
    }
    header .lnb > ul > li > a{
        padding:0 25px;
    }

    #visual > .prev, #visual > .next{
        top:55%;
        width:50px;
        height:60px;
        background-size:auto 70px;
    }
    .slide .prev{
        left:20px;
        background-position:-14px -7px;
    }
    .slide .next{
        right:20px;
        background-position:-49px -7px;
    }
    #visual .slide-wrap .slide-container{
        height:700px;
    }
    #visual .slide-wrap .slide-container > div{
        width:100%;
        height:700px;
    }

    #visual .slide-wrap .slide-container .slide-text{
        font-size:2rem;
        line-height:30px;
        top:35%;
    }
    #visual .slide-wrap .slide-container .slide-text p span{
        padding:10px 0 0 0;
        font-size:4rem;
    }
    .slide .control{
        top:32%;

    }
    #visual .slide-wrap .slide3{ background-position:center center; }
    #visual .slide-wrap .slide4{ background-position:center center; }

    #card{  }
    .card-wrap{ padding:0;}
    .card-wrap > ul{
        margin:0;
        width:96% !important;
        padding:0 2%;
    }
    .card-wrap > ul > li > .card-container{
        top:240px;
    }

    #event{
        width:100%;
    }
    #event > div{
        width:95%;
        margin:0 2.5% 0 2.5%;
    }
    #event .top > .eventwrap li{
        width:280px;
        height:280px;
    }
    #event .top > ul a{
        width:280px;
        height:280px;
    }

    #space-culture > div.container{
        width:95%;
        margin:0 2.5% 0 2.5%;
    }

    footer .top > div{
        width:100%;
    }
}


@media (max-width:1023px){
    header h1{
        left:20px;
    }

    header .lnb > ul{   
        right:8%;
    }
    header .lnb > ul > li > a{
        padding:0 10px;
        font-size:1.5rem;
    }
    header .lnb > ul > li > ul{
        position: absolute;
        width:200px;
        transform:translateX(-35%);
        padding:20px 10px;
        border:1px solid #000;
    }

    #visual .slide-wrap .slide-container{
        height:550px;
    }
    #visual .slide-wrap .slide-container > div{
        width:100vw;
        height:550px;
    }
    #visual .slide-wrap .slide-container .slide-text{
        left:115px;
        top:70%;
    }
    .slide .control{
        left:110px;
        top:65%;
    }

    .card-wrap > ul{
        width:100%;
    }
    .card-wrap > ul > li{
        width:46%;
    }
    .card-wrap > ul > li > a > br{
        display:inline;
    }

    .card-wrap > ul > li > .card-container{
        top:300px;
    }
    .card-wrap > ul > li > .card-container ul li a{
        width:70%;
    }
    .card-wrap > ul > li > .card-container ul li a img{
        width:100px;
    }

    #event{
        width:100%;
    }
    #event .top > .eventwrap{
        width:90% !important;
        padding:0 5%;
        display:inline-block;
        height:auto;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }
    #event .top > .eventwrap li{
        margin:3% 5% 0 0;
        background-size:auto;
        width:30%;
        height:230px;
    }
    #event .top > ul{
        margin:0 auto;
    }
    #event .top > ul a{
        width:100%;
        height:100%;
    }
    #event .top > ul > li:nth-child(3n){
        margin:3% 0% 0 0;
    }
    #event .top > ul li a span{
        font-size:1.5rem;
        padding:90px 0 0 0;
    }
    #event .top > a{
        display:none;
    }
    #event .bottom{
        padding:50px 0 0;
    }
    #event .bottom > div{
        width:90%;
        margin:0 5%;
        margin-bottom:30px;
    }

    #space-culture h3{  
        width:90%;
        margin:0 5%;
    }
    #space-culture .space-wrap, #space-culture .culture-wrap{
        width:90%;
        margin:0 5%;
    }

    footer .top{
        width:100%;
        padding:0 5%;
        box-sizing:border-box;
        background-color: #f3f3f3;
    }
    footer .top > div{
        width:100%;
        padding:5px 0;
    }
    footer .top > div div.right p{
        width:180px;
    }
    footer .top > div div.right select{
        display:none;
    }
    footer .bottom{
        padding:20px;
    }
}

@media (max-width:670px){
    #mob_menu{ display:block;}
    header{
        height:60px;
        top:0;
        background-color: rgba(255,255,255,1);
    }
    header .lnb > ul{
        display:none;
    }
    header h1{
        padding:15px 0 0 0;
    }
    header h1 a{
        width:121px;
        height:30px;
        background:url("../img/logo-icon2.png") no-repeat left top;
        background-size:cover;
    }
    header #mob_menu .mob_menu_box{
        top:10px;
    }

    .slide .prev{
        left:10px;
    }
    .slide .next{
        right:10px;
    }
    #visual .slide-wrap .slide-container{
        height:530px;
    }
    #visual .slide-wrap .slide-container > div{
        height:530px;
    }

    #visual .slide-wrap .slide-container .slide-text{
        left:50px;
    }
    .slide .control{
        left:50px;
        top:68%;
    }

    .card-wrap > ul > li > .card-container{
        top:320px;
    }
    #visual .slide-wrap .slide-container .slide-text p span{
        padding:5px 0 0 0;
        font-size:2.1rem;
    }

    .card-wrap > ul > li > .card-container ul{
        width:90%;
        margin:0 5%;
    }
    .card-wrap > ul > li > .card-container ul li{
        box-sizing:border-box;
    }
    .card-wrap > ul > li > .card-container ul li a img{
        width:80px;
    }


    #event > div{
        padding:60px 0 0 0;
        height:auto;
    }
    #event .top > .eventwrap li{
        width:46%;
        height:24rem;
        margin:5% 7% 0 0;
    }
    #event .top > ul > li:nth-child(3n){
        margin:5% 7% 0 0;
    }
    #event .top > ul > li:nth-child(2n){
        margin:5% 0 0 0;
    }
    
    #event .top > ul a{
        display:block;
        width:100%;
        height:100%;
    }
    #event .bottom > .left ul li{
        padding:31px;
    }
    
    footer .top > div ul li{
        padding:0 8px 0 0;
    }
    #event .top > ul li a span{
        font-size:1.6rem;
    }

    footer .top > div div.right p{
        font-size:0;
        width:111px;
    }
}
@media (min-width:280px) and (max-width:669px){
    header{
        width:100vw;
    }
    
    #visual .slide-wrap .slide-container{
        height:350px;
    }
    #visual .slide-wrap .slide-container > div{
        top:40px;
        height:350px;
        background-size:135%;
    }
    #visual .slide-wrap .slide-container .slide-text{
        display:none;
    }
    .slide .control{
        top:90%;
        width:auto;
        height:auto;
        text-align:center;
        left:50%;
        transform:translateX(-50%);
        white-space:nowrap;
    }
    .slide .control .auto{
        top:3px;
        left:0;
    }
    .slide .control .pager{
        margin:0 0 0 50px;
    }
    .slide .control .pager div{
        padding:0 5px;
        font-size:1.5rem;
    }

    #card{
        height:auto;
        padding:50px 0;
        box-sizing:border-box;
    }
    .card-wrap > ul > li{
        display: block;
        width:100%;
        padding:0 0 30px 0;
        text-align:center;
    }
    .card-wrap > ul > li > a{
        font-size:3rem;
        font-weight:700;
        text-shadow:0px 0px 10px rgba(255,255,255,1);
    }
    .card-wrap > ul > li > div.keyword{
        width:100%;
        height:auto;
        margin-left:4px;
    }
    .card-wrap > ul > li > div > a.card-keyword{
        font-size:1.2rem;
    }
    .card-wrap > ul > li > .card-container ul{
        display:none;
    }
    .card-wrap > ul > li:nth-child(2) > div > a.card-keyword{
        background-color: #3c66f0;
        border-color:#3c66f0;
        color:#fff;
    }

    #event > div{
        width:100%;
        margin:0;
    }
    #event .top > .eventwrap{
        width:100%;
        flex-direction: column;
    }
    #event .top > .eventwrap li{
        width:100%;
        flex:1;
    }
    #event .top > ul li a span{
        width:100%;
        height:100%;
        padding:50px 0;
        opacity:1;
        background-color: rgba(0,0,0,0.4);
        border-radius:5px;
    }
    #event .bottom h2{
        font-size:17px;
        line-height:46px;
    }
    #event .bottom > div{
        height:auto;
        float:none;
        background-color: #f8f6f6;
        margin-bottom:0;
    }
    #event .bottom > div > a{
        top:8px;
        right:10px;
    }
    #event .bottom > .left ul{
        overflow:hidden;
        margin-bottom:30px;
    }
    #event .bottom > .left ul li{
        display:block;
        width:100%;
        padding:15px 10px;
        height:auto;
        border-bottom:1px solid #fff;
    }
    #event .bottom > .left ul li:first-child{
        border-bottom:1px solid #fff;
    }
    #event .bottom > .left ul li:last-child{
        border-bottom:none;
    }
    #event .bottom > div.left li a{
        font-size:1.5rem;
    }
    #event .bottom > .left ul li a p{
        padding:5px 0;
        margin-top:0;
    }
    #event .bottom > div.left li:nth-child(3), #event .bottom > div.left li:nth-child(4){
        margin-top:0;
    }
    #event .bottom > div.right ul li{
        width:100%;
        padding:15px 10px;
        display: block;
        box-sizing:border-box;
    }
    #event .bottom > div.right ul li a{
        width:90%;
        font-size:1.5rem;
        font-weight:normal;
        text-indent:0;
        line-height:1;
    }
    #event .bottom > .right ul li a p{
        padding:5px 0;
        position: static !important;
    }
    #event .bottom > .right ul li a div{
        line-height:19px;
    }
    #event .bottom > .right ul li span{
        display: block;
    }

    #space-culture{
        overflow:hidden;
        padding:0 5%;
        width:100%;
        box-sizing:border-box;
    }
    #space-culture > div.container{
        padding:50px 0 0 0;
        width:50%;
        margin:0;
        float:left;
    }
    #space-culture h3{
        width:100%;
        margin:0 auto;
        border-bottom:none;
    }
    #space-culture h3 img{
        width:100%;
    }
    #space-culture div.container > a{
        display: none;
    }

    #space-culture div.space-wrap, #space-culture div.culture-wrap{
        display: none;
    }
    #space-culture .space-culture-text{
        display:block;
        text-align:center;
        font-weight:bold;
        margin:0 auto;
    }
    #space-culture .space-culture-text p{
        display: inline-block;
        font-size:1.3rem;
        line-height:30px;
        padding:0 0 20px 0;
    }
    #space-culture .space-culture-text a{
        font-size:1.3rem;
        line-height:30px;
        color:#3c66f0;
        font-weight:bold;
        display: block;
    }

    footer{
        padding:50px 0 0;
    }
    footer .top {
        padding:0 3%;
    }
    footer .top > div{
        padding:15px 0;
    }
    footer .top > div .left{
        width:100%;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
    }
    footer .top > div .left li{
        padding:5px 0 8px 0;
    }
    footer .top > div .left li a{
        font-size:1.1rem;
        line-height:1;
    }
    footer .top > div div.right{
    }
    footer .top > div div.right p{
        display: inline-block;
        font-size:1.3rem;
        width:100%;
        height:auto;
        line-height:1;
    }
    footer .top > div div.right p strong{
        display: inline-block;
    }

    footer .bottom{
        padding:13px;
    }
    footer .bottom p{
        width:130px;
        display: inline-block;
        background-size:100%;
        margin:0 auto;
    }
    footer .bottom ul{
        padding:15px 0 10px;
    }
    footer .bottom ul li{
        font-size:1.1rem;
        line-height:15px;
    }
    footer .bottom ul li::after{
        display:none;
    }
}