#middle{
    width:100vw;
    height:100vh;
    position: relative;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
#middle p{
    /* font-family: 'IBM Plex Sans KR', sans-serif; */
    font-size:5rem;
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    line-height:100px;
    font-weight:500;
    text-align:center;
}
#middle span{
    display: block;
    color:#0070f0;
    font-size:3.3rem;
    font-weight:800;
    cursor:pointer;
}